//- header.pug
header.header.p-2
  .header__container.row.justify-content-between.m-0
      img(src=`${assets_base}logo.jpg`, alt="image", class="header__logo col")
      a.header__menuToggler.col(href="javascript:void(0)")
        i.bi.bi-filter-right